body {
	background: url("https://i.ibb.co/3cSjCh3/New-Project.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	font-family: "Lucida Console";
}
.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	background-color: rgba(245, 245, 245, 1);
  opacity: .9;
  padding: 1%; 
  width: 15;
  border-radius: 15px;
}



.jumbotron {
    padding: 5em inherit;
} 

/* .container{
	flex-direction: row;
} */
section {
	max-width: 160px;
	height: auto;
	border: 1px solid #a2a2a2;
	text-align: center;
	margin: 10px;
  }

.parent--products {
	display: flex;
	justify-content: center;
  }