body {
	background: url("https://i.ibb.co/3cSjCh3/New-Project.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	font-family: "Lucida Console";
}
.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	background-color: rgba(245, 245, 245, 1);
  opacity: .9;
  padding: 1%; 
  width: 15;
  border-radius: 15px;
}


section {
	height: auto;
	text-align: center;
  }

.parent--tickets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  }