    <div class="card" style="width: 18rem;">
        <img src="static/smile.jpg" width= "80%" height="auto" class="card-img-top" alt="...">
        <div class="card-body">
            
          <h5 class="card-title">{{ticket.description}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary stretched-link">Review</a>
          <a href="{{ url_for('user', username=ticket.author.username) }}">
            @{{ ticket.author.username }}</a>
        </div>
      </div>