{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="parent--tickets">
          <section class = "tickets">
            <h1 class="display-4">Open</h1>
            {% for ticket in opentickets %}
            {% include '_tickets.html' %}
                <br>
            {% endfor %}
          </section>
          <section class = "tickets">
            <h1 class="display-4">Development</h1>
            {% for ticket in tickets %}
            {% include '_tickets.html' %}
                <br>
            {% endfor %}
          </section>
          <section class = "tickets">
            <h1 class="display-4">Testing</h1>
            {% for ticket in tickets %}
            {% include '_tickets.html' %}
                <br>
            {% endfor %}
          </section>
          <section class = "tickets">
            <h1 class="display-4">Completed</h1>
            {% for ticket in tickets %}
            {% include '_tickets.html' %}
                <br>
            {% endfor %}
          </section>
        </div>
{% endblock %}
